body
{
  color: rgb(0, 255, 38);
  background: #002e04;
  border: 20px;
  border-style: double;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(200, 255, 0);
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: rgb(68, 153, 35);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}